################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConceptTesting/v17/.suo
/.vs
/ConceptTesting/.vs/ConceptTesting
/ConceptTesting/ConsoleApp1/obj
/ConceptTesting/ConsoleApp1
/ConceptTesting/TestingConcepts/obj
